/* styles.css */

html {
	width: 100%;
	height: 100%;
}

body {
	margin: 1rem;
	background-color: black;
	color: whitesmoke;
	font-size: 2.5rem;
	overflow: hidden;
	background-image: url(../img/blue\ moon.gif), url(../img/stars.gif);
	background-repeat: no-repeat, repeat;
	background-position: center, left top;
	background-size: 800px 800px;
}

img{
  width: 120px;
  height: auto;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(4, 280px);
	justify-content: center;
	gap: 8rem;
	margin: 9% 4rem 0 6rem;
}

div {
	transition-property: transform;
	transition-duration: 3s;
}

.word {
	animation: fade 12s infinite;
}

.word:nth-child(1) { animation-delay: 0s; }
.word:nth-child(2) { animation-delay: 1s; }
.word:nth-child(3) { animation-delay: 2s; }
.word:nth-child(4) { animation-delay: 3s; }

@keyframes fade {
	0% { opacity: 1; }
	40% { opacity: 0; }
	60% { opacity: 0;}
	100% { opacity: 1; }
}

@keyframes fadeGlow {
	0% { opacity: 1; color: whitesmoke; }
	50% { opacity: 0; color: dodgerblue; }
  	100% { opacity: 1; color: white; }
}